# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binary Directory
/bin

# Xcode Projects
#*.xcodeproj
xcuserdata
Build/
lib/

# GAI lib project is generated with GYP
gai++/gai.xcodeproj
