# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binary Directory
/bin

# Xcode Projects
#*.xcodeproj
xcuserdata
Build/
lib/
*.DS_Store

# Visual Studio Projects
ipch/
*.opensdf
*.sdf
*.sln
*.vcxproj*

# GAI lib project is generated with GYP
gai++/gai.xcodeproj
